.stack {
  display: flex;

  min-width: 32px;
  width: 100%;

  position: relative;
  /* outline: 1px solid red; */
  overflow: hidden;
}

.row {
  composes: stack;
}

.row > * + * {
  margin-left: -50%;
}

.column {
  composes: stack;
  flex-direction: column;
  align-items: center;
}

.column > * + * {
  margin-top: -110%;
}

.none {
  composes: stack;
}

.none > * {
  position: absolute;
  top: 0;
  left: 0;
}
