.stack {
  display: flex;

  width: 100%;
  height: 100%;
  padding: 10px;
  min-width: 32px;
  min-height: max(44px, 17.5vw);

  position: relative;
  overflow: hidden;
}

.row {
  composes: stack;
}

.row > * + * {
  margin-left: -9vw;
}

.column {
  composes: stack;
  flex-direction: column;
  align-items: center;
}

.column > * + * {
  margin-top: -125%;
}

.none {
  composes: stack;
  display: grid;
  grid-template-columns: 1fr;
}

.none > * {
  grid-row-start: 1;
  grid-column-start: 1;
}

.placeholder {
  background: transparent;
}

.hearts,
.diamonds,
.clubs,
.spades {
  align-items: center;
  justify-content: center;
}

.diamonds,
.hearts {
  color: red;
}

.clubs,
.spades {
  color: black;
}

.hearts::before,
.diamonds::before,
.clubs::before,
.spades::before {
  font-size: 3rem;
  font-size: clamp(3rem, 8vw, 8rem);
  line-height: 1;

  text-align: center;
  grid-row-start: 1;
  grid-column-start: 1;
}

.diamonds::before {
  content: "♦";
}

.hearts::before {
  content: "♥";
}

.clubs::before {
  content: "♣";
}

.spades::before {
  content: "♠";
}
