.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  background: rgb(114, 114, 114);
}

.board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 1vw;

  width: 100%;
}
