.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background: black;
}

.board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stack {
  display: flex;
  flex-direction: column;

  min-height: 200px;
  min-width: 140px;

  position: relative;
  outline: 1px solid red;
}

.stack > .card + .card {
  margin-top: -180px;
}

.card {
  height: 200px;
  width: 140px;

  border: 1px solid black;
  border-radius: 5px;

  background: white;
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}
