.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  background: black;
}

.board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 1vw;

  width: 100%;
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 200px;
  /* min-width: 140px; */
  width: 100%;

  position: relative;
  /* outline: 1px solid red; */
}

.stack > * + *,
.stack > .card + .card {
  margin-top: -100%;
}

.card {
  height: 200px;
  width: 140px;

  border: 1px solid black;
  border-radius: 5px;

  background: white;
}
